model.pt
external_sota/*
concepts/results/*
concepts/embeddings/*
concepts/mimic_concepts.csv
*.sh
*.pkl
*.png
*.jpg
*.npz
*.npy
*.json
*.h5
*.pt
*.csv
multimodal_nejm/cxr_cases/*
multimodal_nejm/results/*
plots/*
notebooks/.ipynb_checkpoints
.ipynb_checkpoints
__pycache__
notebooks/*
notebooks/clip_v1_0.1_state_dict.pt
notebooks/models
notebooks/train/wandb
data_process.py
notebooks/chexpert_plus.ipynb
notebooks/rexgradient.ipynb
notebooks/reports.ipynb
notebooks/img_hdf5.ipynb
benchmark/external_sota/*
benchmark/results/*
CLAUDE.md
